@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Bellefair&family=Marmelad&family=Monofett&family=Salsa&family=Sedgwick+Ave+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.bellefair-regular {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
}
.sedgwick-ave-display-regular {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.monofett-regular {
    font-family: "Monofett", monospace;
    font-weight: 400;
    font-style: normal;
}
.marmelad-regular {
    font-family: "Marmelad", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.salsa-regular {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
}